@use '../custom' as *;
@use '../components/mixins' as *;

.intro-section {
    @include gradient;
    padding: 10rem 0 0 0;
    width: 100%;
    height: 100%;
}

.form {
    border-radius: 1rem;
    background-color: #fff;
    padding: 3rem;
    display: none;
    flex-direction: column;
    align-content: center;
    align-items: center;
    color: gray;

    button {
        color:$white;
        background-color: $primary;
        font-weight: 600;
        font-size: medium;
        border-radius: 100%;
        border: $white;
        margin-top: 1rem;
        padding: 3%;
        &:hover {
            @include gradient;
        }
        svg {
            width: 100%;
            height: 100%;
        }
    }

    input {
        width: 100%;
        margin-bottom: 0.5rem;
    }
    textarea {
        width: 100%;
    }
}