@use '../custom' as *;
@use '../components/mixins' as *;

.intro-section {
    @include gradient;
    padding: 10rem 0 0 0;
    width: 100%;
    height: 100%;
}

.form {
    border-radius: 1rem;
    background-color: #fff;
    padding: 1.9rem;
    display: none;
    flex-direction: column;
    align-content: center;
    align-items: center;

    button {
        color:$white;
        background-color: $primary;
        font-weight: 600;
        font-size: medium;
        border-radius: 1.2rem;
        border: $white;
        margin-top: 0.5rem;
        padding: 0.7rem;
        @include media-breakpoint-down(sm) {
            width: 6rem;
            margin-top: 0.5rem;
        }
        &:hover {
            @include gradient;
        }
    }

    input {
        width: 87%;
        margin-bottom: 0.5rem;
    }
}