@use '../custom' as *;
@use '../components/mixins' as *;

.menu {
    @include gradient;

    li {
        padding: 0 2rem;
        margin-right: 10rem;
        a {
            color: $white !important;
            font-weight: 600;
        }
    }
}
