@use '../custom' as *;
@use '../components/mixins' as *;

.menu {
    @include gradient;

    li {
        padding: 0 2rem;
        margin-right: 10rem;
        a {
            color: $white !important;
            font-weight: 600;
        }
        &:hover {
            transform: scale(1.2);
        }
    }
}

.container-lang {
    display: flex;
    color: white;
    margin: 2rem 0rem 1rem 1rem;
    font-weight: 400;
    cursor: pointer;
}