@use '../custom' as *;

.technologies {
    background-color: #fff;
    img {
        margin-bottom: 2rem;
    }
}

.heading-line::before {
    content: "";
    width: 10rem;
    height: 0.1rem;
    display: block;
    background-color: $primary;
    margin: 0 auto;
}

.heading-line::after {
    content: "";
    width: 2rem;
    height: 0.2rem;
    display: block;
    padding-top: 0.5rem;
    margin-bottom: 1rem;
    background-color: $primary;
    margin: 0 auto;
}